@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-BoldExtendedTwo.eot');
    src: url('Eurostile-BoldExtendedTwo.eot?#iefix') format('embedded-opentype'),
        url('Eurostile-BoldExtendedTwo.woff2') format('woff2'),
        url('Eurostile-BoldExtendedTwo.woff') format('woff'),
        url('Eurostile-BoldExtendedTwo.ttf') format('truetype'),
        url('Eurostile-BoldExtendedTwo.svg#Eurostile-BoldExtendedTwo') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

