#about {
    background: $tertiary-color-darker;
    background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
    color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .header { 
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding: 10px 20px 10px 20px;
        text-align: left;
        min-height: 50px;
        width: 100%;
        background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%); 

        @include xs { flex-direction: column; text-align: center; }
        @include sm { flex-direction: row; }

        h5, a {
            @include xs { font-size: 12px !important; }
            @include sm { font-size: 16px !important; }
        }

        .author { color: $white-color; :hover { color: $secondary-color; } }

        img { width: 32px; height:24px; }
        svg { font-size: 20px; }
    }

    .content { 
        padding-top: 20px;
        padding-bottom: 20px;
        flex-grow: 1; 
        display: flex;
        align-items: center;
    }

    .title {
        background-color: $secondary-color;
        color: $white-color;
        font-weight: normal;
        letter-spacing: 0.2vw;
        font-size: 1.4vw;
        padding: 5px 10px;
    }

    .description {
        width:fit-content;
        font-style: italic;
        border: 2px $secondary-color solid;
        padding: 4px 12px 4px 12px;
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    span { 
        @include xs { font-size: 4vmin; }
        @include sm { font-size: 20px; }
    }

    h1 { 
        @include xs { font-size: 6vmin; }
        @include sm { font-size: 40px; }
    }

    h3 { 
        @include xs { font-size: 4vmin; }
        @include sm { font-size: 20px; }
    }

    a {
        transition: all 0.2s ease;
        color: $secondary-color;
    }

    a:hover {
        color: $red-color !important;
    }

    .mobile-warning {
        background-color:$red-color;
        color: $white-color;
        padding: 10px 20px;
        margin-bottom: 20px;

        @include sm { display: block; }
        @include lg { display: none; }
    }

    .video {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .button {
        font-weight: bold;
    }
}