#about {
    background: $tertiary-color-darker;
    background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);

    color: $primary-color;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    font-weight: 400;
    padding: 0 5.6rem;

    .version {
        font-size: 2.5rem;
    }

    .version-number {
        font-size: 3rem;
    }
}