#kronos-countdown {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 20%, $quaternary-color 80%, $quarternary-color-darker 100%);
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 60px;
        color: $white-color;
        letter-spacing: 8px;
    }

    .countdown {
        background: $tertiary-color-darker;
        background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);

        .clock-word {
            letter-spacing: 20px;
            font-weight: bold;
            color: $primary-color;
            font-size: 90px;
        }

        .clock-description {
            letter-spacing: 6px;
            font-weight: bold;
            color: $warning-color;
        }
    }
}