#supers {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);

    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    justify-content: center;

    .navigator-frame {
        text-align: left;
        background: $tertiary-color-darker;
        background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
        font-weight: normal;
        justify-content: center;
        width: 100%;
        padding: 20px 0px 20px;

        .navigator-item {
            margin: 30px 0px 30px;
            margin-left: 14.5%;
        }

        .navigator-item-content {
            padding: 10px 25px 10px;
            text-transform: uppercase;
            color: $primary-color;
            letter-spacing: 0.5vw;
            font-size: 2.3vw;
        }

        .navigator-item:hover {
            cursor: not-allowed !important;
        }

        .icon {
            fill: $primary-color;
            margin-right: 150px;
            padding-left: 60px;
            vertical-align: inherit;
            width: 120px;
            height: 40px;
        }

        .navigator-item-content:hover,
        .navigator-item-content:active {
            color: $white-color;
            background-color: $nav-item-hover-color;
            font-weight: 500;

            .icon {
                fill: $white-color;
            }
        }
    }

    .box-icons-borders {
        position: absolute;
        z-index: 3;
        opacity: 70%;
        border-left: 1px solid $white-color;
        border-right: 1px solid $white-color;
        width: 220px;
        height: 100vh;
        left: 14.5%;
    }
}