@import './variables.scss';
@import './responsive.scss';
@import './Components/Button.scss';
@import './Views/SuperOmnidroidFrame.scss';
@import './Views/SearchSuperResult.scss';
@import './Views/About.scss';
@import './Views/Authentication.scss';
@import './Views/Navigator.scss';
@import './Views/NotFound.scss';
@import './Views/SearchSuper.scss';
@import './Views/Kronos.scss';
@import './Views/KronosCountdown.scss';

@font-face {
  font-family: 'Eurostile';
  src: url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.eot');
  src: url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.eot?#iefix') format('embedded-opentype'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.woff2') format('woff2'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.woff') format('woff'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.ttf') format('truetype'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.svg#Eurostile-BoldExtendedTwo') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile';
  src: url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.eot');
  src: url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.eot?#iefix') format('embedded-opentype'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.woff2') format('woff2'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.woff') format('woff'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.ttf') format('truetype'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.svg#Eurostile-ExtendedTwo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  min-height: 100vh;
  margin: 0;
  font-family: 'Eurostile';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0px; }

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 35px }
h4 { font-size: 30px }
h5 { font-size: 25px }

p {
  font-weight: normal;
  font-size: 18;
  margin-bottom: 0px;
}

a { text-decoration: none !important; }