/* Screen sizes (XS, SM, MD, LG, XL) */
$screen-xs-min: 320px;
$screen-sm-min: 576px;
$screen-md-min: 769px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

/* Extra-small devices */
@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

/* Small devices */
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

/* Medium devices */
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

/* Large devices */
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

/* Extra large devices */
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

/* Custom devices */
@mixin bigger($screen) {
   @media (min-width: #{$screen}) {
       @content;
   }
}

@mixin smaller($screen) {
    @media (max-width: #{$screen}) {
        @content;
    }
}

@mixin between($min, $max) {
    $min: $min + 'px';
    $max: $max + 'px';
    @media (max-width: $max) and (min-width: $min) {
        @content;
    }
}

/* Desktop and mobile generic classes for showing header hamburger and other stuff */
@include xs {
  .desktop { display: none; } 
  .mobile { display: block; }
}

@include sm {
  .desktop { display: block; }
  .mobile { display: none; }
}