.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 25px 8px;
    color: $white-color;
    background-color: $secondary-color;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.button:hover {
    color: $primary-color;
    background-color: $red-color;
    border: 1px solid $primary-color;
}