.button {
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 20px 12px;
    color: $white-color;

    background-color: $secondary-color;
    

}

.button:hover {
    color: $primary-color;
    background-color: #ef705d;
}