.search-super-result-frame {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);
    min-height: 100vh;
    height: 100vh;
    border-bottom: 0;
    justify-content: center;

    .result {
        padding: 100px 30px 10px !important;
        background: $tertiary-color-darker;
        background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
    }

    .threat-rating {
        padding: 5px 10px 5px;
        background-color: $warning-color;
        font-weight: normal;
        color: $white-color;
    }

    .separator {
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid $tertiary-color;
    }

    .image {
        img {
            min-height: 100%;
            width: 100%;
        }
    }

    .footer, .header {
        min-height: 10%;
    }

    .content {
        min-height: 80%;
    }
}