.super-omnidroid-frame {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);
    min-height: 100vh;
    height: 100vh;
    border-bottom: 0;
    justify-content: center;

    .terminated-frame {
        position: absolute;
        height: 100px;
        width: 50%;
        letter-spacing: 0.2rem;
        font-size: 4rem;
        font-weight: bold;
        background-color: $warning-color;
        color: $white-color;
        border-right: 1px solid;
        text-align: center;
        top: 42%;
    }

    .image {
        img {
            min-height: 100%;
            width: 100%;
        }
    }

    .mr-4 {
        margin-right: 10px;
    }

    .separator {
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid $tertiary-color;
    }

    .footer {
        p {
            margin-right: 40px;
            margin-left: 40px;
        }
    }

    .header {
        min-height: 10%;
    }

    .footer {
        min-height: 20%;
    }

    .content {
        min-height: 70%;
    }
}