@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-ExtendedTwo.eot');
    src: url('Eurostile-ExtendedTwo.eot?#iefix') format('embedded-opentype'),
        url('Eurostile-ExtendedTwo.woff2') format('woff2'),
        url('Eurostile-ExtendedTwo.woff') format('woff'),
        url('Eurostile-ExtendedTwo.ttf') format('truetype'),
        url('Eurostile-ExtendedTwo.svg#Eurostile-ExtendedTwo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

