@import './variables.scss';
@import './Components/Button.scss';
@import './Components/SuperOmnidroidFrame.scss';
@import './Components/SearchSuperResult.scss';
@import './Views/About.scss';
@import './Views/Authentication.scss';
@import './Views/Navigator.scss';
@import './Views/NotFound.scss';
@import './Views/Supers.scss';
@import './Views/SearchSuper.scss';
@import './Views/Kronos.scss';
@import './Views/KronosCountdown.scss';

@font-face {
  font-family: 'Eurostile';
  src: url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.eot');
  src: url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.eot?#iefix') format('embedded-opentype'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.woff2') format('woff2'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.woff') format('woff'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.ttf') format('truetype'),
    url('Fonts/EuroStyle-BoldExtended2/Eurostile-BoldExtendedTwo.svg#Eurostile-BoldExtendedTwo') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eurostile';
  src: url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.eot');
  src: url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.eot?#iefix') format('embedded-opentype'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.woff2') format('woff2'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.woff') format('woff'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.ttf') format('truetype'),
    url('Fonts/EuroStyle-RegularExtended2/Eurostile-ExtendedTwo.svg#Eurostile-ExtendedTwo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Eurostile';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 { font-size: 2.5vw }
h2 { font-size: 2vw }
h3 { font-size: 1.75vw }
h4 { font-size: 1.5vw }
h5 { font-size: 1.25vw }

p {
  font-weight: normal;
  font-size: 0.9vw;
  margin-bottom: 0px;
}

.text-spaced {
  letter-spacing: 0.5em;
}

a {
  text-decoration: none !important;
}