$primary-color: #212629;
$secondary-color: #4c7e83;
$tertiary-color: #bedfdf;
$tertiary-color-darker: #a1c4c9;

$white-color: #dddcdc;
$warning-color: #e9401e;

$nav-item-hover-color: #708483;

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color;
}