$primary-color: #212629;
$secondary-color: #4c7e83;
$tertiary-color: #bceeef;
$tertiary-color-darker: #a1c4c9;
$quaternary-color: rgb(107, 163, 172);
$quarternary-color-darker: rgb(93, 147, 153);

$white-color: #dddcdc;
$warning-color: #e9401e;
$red-color: #ef705d;

$nav-item-hover-color: #708483;

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.tertiary-color { color: $tertiary-color; }
.warning-color { color: $warning-color; }
.white-color { color: $white-color; }