$primary-color: #212629;
$secondary-color: #4c7e83;
$tertiary-color: #bedfdf;
$tertiary-color-darker: #a1c4c9;
$quaternary-color: rgba(112, 170, 179, 1);
$quarternary-color-darker: rgb(99, 157, 163);

$white-color: #dddcdc;
$warning-color: #e9401e;

$nav-item-hover-color: #708483;

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color;
}

.warning-color {
    color: $warning-color;
}

.white-color {
    color: $white-color;
}