#kronos {
    background: $tertiary-color-darker;
    background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
    min-height: 100vh;
    height: 100vh;
    border-bottom: 0;
    justify-content: center;

    .phase-name {
        color: $white-color;
        font-size: 80px;
        background-color: $secondary-color;
        font-weight: bold;
        padding: 0px 8px 0px;
    }

    .phase-details {
        margin-left: 30px;
        border: 2px solid $secondary-color;
        padding: 2px 15px 2px;
        color: $secondary-color;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 4px;
    }

    h1 {
        font-size: 68px;
        margin-bottom: 1px;
    }

    h3 {
        font-size: 26px !important;
        letter-spacing: 20px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .button-kronos {
        background-color: $secondary-color;
        color: $white-color;
        font-weight: normal;
        letter-spacing: 4px;
        font-size: 28px;
        padding: 5px 0px 5px 0px;
        transition: all 0.1s ease;
        border: 1px solid transparent;
    }

    .button-kronos:hover {
        background-color: $red-color;
        color: $primary-color;
        cursor: pointer;
        border: 1px solid $primary-color;
    }
    
    .version-label {
        font-weight: bold;
        font-size: 72px;
    }

    .version-number {
        font-weight: bold;
        font-size: 108px;
    }

    .operation-phases-box {
        bottom: 0px;
        font-weight: bold;
        font-size: 44px;
        display: flex;
        flex-direction: column;

        .phase-frame {
                background-color: $secondary-color;
                color: $white-color;
                margin: 0px 10px;
                padding: 0px 8px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: center;
                font-weight: normal;
                letter-spacing: 4px;
                font-size: 28px;

                .steps {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
        
                .step {
                    display: flex;
                    justify-content: center;
                    padding: 0px 2px 0px 2px;
                    transition: all 0.1s ease;
                }
        
                .step:hover,
                .step-activated {
                    background-color: $red-color;
                    color: $primary-color;
                    cursor: pointer;
                }
            }

        .warning-color {
            font-size: 58px;
        }
    }

    .separator {
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid $tertiary-color;
    }

    .main-img {
        width: 90%;
    }

    .other-img {
        width: 60%;
    }

    .footer,
    .header {
        height: 10%;
        background: $quarternary-color-darker;
    }

    .content {
        padding-top:5px;
        padding-bottom: 5px;
        height: 80%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .lateral {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}