#navigator {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);

    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    justify-content: center;

    .navigator-frame {
        text-align: left;
        background: $tertiary-color-darker;
        background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
        font-weight: normal;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 10px;

        .navigator-item {
            margin: 30px 0px 30px;
            margin-left: 14.5%;
            width: fit-content;
        }

        .navigator-item-content {
            display: flex;
            flex-direction: row;
            width: fit-content;
            align-items: center;
            padding: 10px 45px 10px 25px;
            text-transform: uppercase;
            color: $primary-color;
            letter-spacing: 10px;
            font-size: 42px;
            transition: all 0.1s ease;
        }

        .disabled:hover {
            cursor: not-allowed !important;
        }

        .icon {
            fill: $primary-color;
            margin-right: 150px;
            padding-left: 60px;
            vertical-align: inherit;
            width: 130px;
            height: 50px;
        }

        .navigator-item-content:active, .navigator-item-content-active {
            color: $white-color;
            background-color: rgba($nav-item-hover-color, 0.80);

            .icon {
                filter: invert(0.95);
            }
        }
    }

    .box-icons-borders {
        position: absolute;
        z-index: 0;
        opacity: 70%;
        border-left: 1px solid $white-color;
        border-right: 1px solid $white-color;
        width: 220px;
        height: 100vh;
        left: 248px;
    }
}