#search-super {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);

    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0;
    justify-content: center;
    text-align: center;
    justify-content: center;

    .search-box {
        height: 80px;
        margin-left: 10%;
        margin-right: 10%;

        .label {
            border: 1px solid #b9b9b9;
            padding: 5px 15px 5px;
            height: inherit;
            font-weight: normal;
            font-size: 54px;
            letter-spacing: 4px;
            display: flex;
            align-items: center;
            color: $white-color;
            background-color: $secondary-color;
        }

        .input-text {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px 0px 5px;
            height: inherit;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-size: 54px;
            font-weight: bold;
            background: $tertiary-color-darker;
            background: linear-gradient(90deg, $tertiary-color-darker 0%, $tertiary-color 20%, $tertiary-color 80%, $tertiary-color-darker 100%);
        }

        input {
            margin-left: 60px;
            background: none;
            border: none;
            outline: none;
            font-weight: inherit;
            text-transform: inherit;
            letter-spacing: inherit;
            text-align: left;
            padding: 0px;
        }
    }

    
    .box-icons-borders1 {
        position: absolute;
        opacity: 70%;
        border-top: 1px solid $white-color;
        border-bottom: 1px solid $white-color;
        width: 100%;
        height: 80px;
    }

    .box-icons-borders2 {
        position: absolute;
        opacity: 70%;
        border-left: 1px solid $white-color;
        border-right: 1px solid $white-color;
        width: 80%;
        left: 10%;
        height: 100vh;
    }
}