.super-omnidroid-frame {
    background: $quarternary-color-darker;
    background: linear-gradient(90deg, $quarternary-color-darker 0%, $quaternary-color 15%, $quaternary-color 85%, $quarternary-color-darker 100%);
    min-height: 100vh;
    height: 100vh;
    border-bottom: 0;
    justify-content: center;

    .terminated-frame {
        top: -40vh;
        position: absolute;
        width: 100%;

        .terminated-label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 108px;
            text-align: center;
            letter-spacing: 2px;
            font-size: clamp(84px, 5vw, 96px);
            font-weight: bold;
            background-color: $warning-color;
            color: $white-color;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .image {
        img {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }

    .padded {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .borded {
        border-right: 1px solid $tertiary-color;
    }

    .footer {
        p {
            margin-right: 40px;
            margin-left: 40px;
        }
    }

    .footer-h1 {
        letter-spacing: 8px;
    }

    .header {
        height: 10%;
    }

    .footer {
        height: 22%;
    }

    .content {
        height: 68%;
    }
}